.text {
  margin-top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left {
  float: left;
  display: grid;
  grid-template-columns: auto;
  margin: 10px;
  border-right: 2px solid grey;
  height: 100%;
}

.right {
  float: right;
  display: grid;
  grid-template-columns: auto;
  margin: 10px;
  border-left: 2px solid grey;
  height: 100%;
}

.createSpaceShip {
  cursor: pointer;
  color: white;
  height: auto;
  width: 50px;
}

.createSpaceShipButton {
  border: none;
  background-color: transparent;
}

.settingsButton {
  border: none;
  background-color: transparent;
}
