.nav {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background-color: black;
}

.settingsButton {
  background-color: transparent;
  outline: none;
  border: none;
}

.name {
  padding: 0px;
  display: flex;
  justify-content: center;
}
